PORT=3000
TEST_MODE=true
ENABLE_KEYSTROKES=true
LUNA_APP_NAME=LUNA
APP_PIN=
ENABLE_MCU=true
ENABLE_MIDI=true
ENABLE_VIRTUAL_MIDI=true
MCU_DEBUG_MIDI=false
MCU_INPUT_ID=
MCU_INPUT_NAME=
MCU_OUTPUT_ID=
MCU_OUTPUT_NAME=
MCU_VIRTUAL_INPUT_NAME=LUNA Studio Remote MCU In
MCU_VIRTUAL_OUTPUT_NAME=LUNA Studio Remote MCU Out
